<div class="home__container">
    <app-card
     gameCover="assets/tibia.logo.jpeg"
     gameLabel="Digital"
     gameType="DIGITAL | PS4"
     gamePrice="R$ 129,99"
     >
    </app-card>

    <app-card gameCover="assets/League of Legends.jpg"
    gameLabel="Exclusive"
    gameType="DISC | PC"
    gamePrice="R$ 229,99"

    >
    </app-card>

    <app-card gameCover="assets/ragnarok.jpg.crdownload"
    gameLabel="Deluxe"
    gameType="DISC | PC"
    gamePrice="R$ 329,99"

    >
    </app-card>
</div>